.header__container {
    height: 1%;
    text-align: right;
}

.header__link {
    text-decoration: none;
    color: white;
}

.header__container > button {
    margin: 5px;
    color: white;
    background-color: black;
    border: 2px solid #333;
}

.header__container > button:hover {
    background-color: #333;
}

