.select__btn {
    margin: 5px;
    background-color: gray;
    color: white;
    border-radius: 10px;
    border: 0;
}

.select__btn__true {
    margin: 5px;
    background-color: gainsboro;
    color: black;
    border-radius: 10px;
    border: 0;
}

.select__btn:hover {
    background-color: gainsboro;
    color: black;
}

.select__title {
    margin: 20px;
}