/* Video.css (새로운 CSS 파일을 만들거나, 기존 파일에 추가할 수 있습니다) */

.movie__videos {
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    gap: 20px;
}

.movie__videos__title {
    margin-right: 20px;
    margin-bottom: 20px;
}

.movie__video {
    flex: 0 0 auto; /* Flexbox 아이템의 크기를 고정하고, 컨텐츠에 맞게 조절합니다. */
}

.movie__videos::-webkit-scrollbar {
    background-color: black;
}

.movie__videos::-webkit-scrollbar-thumb{
    background-color: #555;
    border-radius: 10px;
}